<div class="card testimonial-card">
    <div class="card-up indigo lighten-1 d-flex">
        <div style='display: flex;margin-left: 20px;'>
            <div class="avatar mx-auto white">
                <img height='100px' width='100px' src="{{current_user.profile_pic}}" class="rounded-circle"
                    alt="woman avatar">
            </div>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{current_user.name}}</h4>
            <hr>
            <p><i class="fas fa-quote-left"></i> I'm here to code and chew bubblegum and I'm fresh out
                of bubblegum
            </p>
        </div>
    </div>
</div>