<div class="container text-center">
    <div style='margin-top: 5rem'>
        <div class="my-3">
            <img height='25rem' src="{{ url_for('static' , filename='img/coderschool_logo.png')}}" />
        </div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum vitae non, modi repellat debitis animi eaque
            iste
            ut
            officia. Obcaecati repudiandae, at qui non harum aut voluptates saepe ad, possimus similique, et maiores
            distinctio
            alias necessitatibus illo. Commodi quibusdam amet blanditiis iure ab maiores qui eveniet unde aliquam
            assumenda
            asperiores dolor excepturi quas perferendis nulla magnam repudiandae ipsum aut, placeat incidunt veritatis
            deleniti
            numquam quam! Aliquid eum doloremque error vel quae inventore sed eius nesciunt suscipit quia, eaque cum
            obcaecati
            ipsum modi excepturi voluptatum sequi reiciendis? Ipsa eos minus animi libero officiis. Quos optio amet cum,
            voluptas dolorum adipisci cumque.
        </p>
    </div>
</div>